{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>BirthDate</th>
                <th>Gender</th>
                <th>Nationality</th>
                <th>Handicap</th>
                <th>Baccalaureat</th>
                <th>Langue</th>
                <th>ParentName</th>
                <th>ParentPhone</th>
                <th>MotherName</th>
                <th>MotherPhone</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Activities</th>
                <th>AcademicYear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.fullName }}</td>
                <td>{{ student.birthDate ? student.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.nationality }}</td>
                <td>{{ student.handicap ? 'Yes' : 'No' }}</td>
                <td>{{ student.baccalaureat }}</td>
                <td>{{ student.langue }}</td>
                <td>{{ student.parentName }}</td>
                <td>{{ student.parentPhone }}</td>
                <td>{{ student.motherName }}</td>
                <td>{{ student.motherPhone }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.activities ? student.activities|json_encode : '' }}</td>
                <td>{{ student.academicYear }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
